header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #3a4447a0;
    padding: 10px 50px;
    @include d-flex($justify-content: space-between);
    color: white;
    font-family: $general-font;
    nav {
        ul {
            display: flex;
            gap: 50px;

            li {
                text-transform: uppercase;
                i{
                    font-size: 14px;
                    margin-left: 10px;
                    color: $primary-color;
                    transition: 0.5s;

                }
                &:hover{
                    i{
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
}